<%= form_for(@add_product) do |f| %>
  <% if @add_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@add_product.errors.count, "error") %> prohibited this add_product from being saved:</h2>

      <ul>
      <% @add_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
